    * {
        font-family: "Helvetica", sans-serif;
        caret-color: transparent;
    }



    h1,h2,h3,h4,h5,h6{
        font-size: x-large;
        line-height: 2rem;

    }

    #i18nbutton{
        font-size: large;
    }

.navbar {
    color: black;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}



#i18nbutton{
    font-weight: bolder;
}

/* Specific selector for .nav-item inside .custom-navbar */
.navbar .nav-item {
    color: black;
    font-size: large;

}

.navbar .navbar-nav .nav-link {
    color: black; /* Set the desired text color */
    font-variant: small-caps;

}


.navbar .navbar-nav .nav-link:hover {
    color: #03d3a3; 
    cursor: pointer;
}

#navbarLogo{
    cursor: pointer;
}

#greetingDiv{
    background-color: #A6DDD0;
    color: black;
    width: 100%;
   
}

#greetingDivServices{
    background-color: #A6DDD0;
    color: black;
    width: 100%;

}

#greetingDivTeam{
    background-color: #A6DDD0;
    color: black;
    width: 100%;

}

.img-container {
    position: relative;
}

.img-container-services .img-text {
    position: absolute;
    font-size: x-large;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}


.img-container img {
    height: auto;
    width: 70%;
}

.img-container-services{
    height: max-content;
}

.img-container-services img{
    height: 80%;
    width: 90%;
}

.img-containerSub{
    height: 100%;

}

.img-containerSub img{
    height: auto;
    width: 70%;
}

#servicesRow,#serviceTypes{
    width: 100%;
}

#teamText{
    font-variant: small-caps; 
    letter-spacing: 0.5rem;
    font-size: xx-large;
    font-weight: bold;
}

#servicesText{
    font-variant: small-caps; 
    letter-spacing: 0.5rem;
    font-size: xx-large;
    font-weight: bold;
}

#contact{
    background-color: rgb(166, 221, 208);
    
}

#innerContact{
    width: 60%;
}



.form-group textarea, .form-group input{
    border: 1px solid #03d3a3 ;
}

.form-group label{
    color: black;
}

.form-group input[type=submit]{
border: none;
    border-radius: 10%;
    background-image: linear-gradient(to bottom right, #03d3a3, #ff1b76);

}

#contactForm{
    margin-bottom: 5%;


}

#greetingLogoImg{
    height: auto;
    max-width: 40%;
}

.img-fluid{
    height: auto;
    width:60%;
    object-fit: cover;
    border-radius: 15px;
}

.serviceOverlay {
    position: absolute;
    bottom: 0;
   
    width: 58%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.clickForReference{
    position: relative;
    bottom: 2.5rem;
    left: 10%;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.square-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePageImgContainer img,.homePageImgServicesContainer img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.homePageImgServicesContainer{
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.homePageImgContainer{
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

.homePageServicesImg ,.homePageTeamImg{
    cursor: pointer;
}
.homePageTeamImg, .homePageServicesImg {
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.homePageTeamImg:hover ,.homePageServicesImg:hover {
    transform: scale(1.1);

}

.roles{color: #ff1b76;}
.names,.ser{font-weight: bold;}

.roles, .names{
    cursor: pointer;
}

.roles:hover, .names:hover, .serviceOverlay:hover, .clickForReference:hover{
    color: #03d3a3;
}

#edmondTeamText,#ingridTextTeam,#gergoTextTeam{
    font-size: 1.2rem;
}

#servicesSubTitle,#teamsubTitle{
    font-weight: bold;
    letter-spacing: 0.5em;
    color: #ff1b76;
    font-variant: small-caps;
    font-size: xx-large;
}

#teamTextAboutUs,#teamTextServices{
    line-height: 2.5rem;
    width: 80%;
}

#carousel2prev{
    left: -7rem;
}

#carousel2next{
    right: -7rem;
}

#carousel1 {
    width: 40.625rem;
    height: auto;

}

#carousel2{
    width: 40.625rem;
    height: auto;
}

#getInContact{
    line-height: 4rem;

}



@media (max-width: 576px) {
    h1,h2,h3,h4,h5,h6, .img-text,.img-container-services .img-text ,  #edmondTeamText , #gergoTextTeam,#ingridTextTeam{
        font-size: 0.2rem; /* Further adjust the font size for very small screens */
        max-width: 100%; /* Make both columns take up the full width on small screens */

    }
    #videoServiceText,#photoServiceText,#socialServiceText{
        font-size: small;
    }

    .navbar {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center;
        text-align: center; /* Center text horizontally */
    }

    #servicesSubTitle{
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    h1,h2,h3,h4,h5,h6, .img-text,.img-container-services .img-text ,#teamsubTitle, #edmondTeamText ,#gergoTextTeam,#ingridTextTeam{
        font-size: 0.5rem; /* Adjust the font size for smaller screens */
        max-width: 100%; /* Make both columns take up the full width on small screens */


    }

    #videoServiceText,#photoServiceText,#socialServiceText{
        font-size: small;
    }


    .serviceOverlay{
        width: 57%;
    }

    #carousel2prev,
  #carousel2next {
    position: absolute;
    top: -5rem;
    height: 5rem;
  }
  #carousel2prev{
    left: +0rem;
  }

  #carousel2next{
    right: +0rem;
}



}

@media (max-width: 1024px) {
    h1,h2,h3,h4,h5,h6, .img-text,.img-container-services .img-text , #edmondTeamText ,#gergoTextTeam,#ingridTextTeam{
        max-width: 100%; /* Make both columns take up the full width on small screens */

    }

    #videoServiceText,#photoServiceText,#socialServiceText{
        font-size: small;
    }

    #greetingLogoImg{
        height: auto;
        max-width: 100%;
    }
    #carousel1 {
        width: auto;
        height: auto;
    
    }
    
    #carousel2{
        width: auto;
        height: auto;
    }


}

@media (max-width: 1200px) {
    h1,h2,h3,h4,h5,h6, .img-text,.img-container-services .img-text,#services1text , #edmondTeamText, #gergoTextTeam,#ingridTextTeam,#greetingText,
    #servies1text{
        font-size: 1rem; /* Adjust the font size for smaller screens */
        width: 100%;
    }

    #teamTextAboutUs,#teamTextServices{
        line-height: 1.5rem;
        width: 80%;
    }

    #memberRow2 {
        flex-direction: column-reverse; /* Reverses the column order on small screens */
        justify-content: center;
        align-items: center;
    }

    #memberRow1,#memberRow3{
        flex-direction: column; /* Reverses the column order on small screens */
        justify-content: center;
        align-items: center;
    }

    #serviceTypes {
        flex-direction: column; /* Make the services stack vertically on small screens */
        justify-content: center;
        align-items: center;
    }
    #memberRow1 img,#memberRow2 img, #memberRow3 img{
        height: auto;
        width: 50%;
    }

    #videoServiceText,#photoServiceText,#socialServiceText{
        font-size: medium;
    }



    .col-md-6 {
        max-width: 100%; /* Make both columns take up the full width on small screens */
        margin-top: 1rem;

    }

    #serviceTypes .square-img-container {
        margin-top: 3rem;
    }

 

    #services2title,#services1title,#services3title{
        margin-top: 1rem;
    }
    

}




#submitButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#submitButton:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#submitButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#submitButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#submitButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#submitButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#submitButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#submitButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#submitButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


body {
    top: 0;
    left: 0;
    opacity: 0; /* Start with opacity set to 0 */
    transition: opacity 0.5s;
  }
  
  .fade-in {
    opacity: 1; /* Set opacity to 1 to fade in */
  }
  
  .fade-out {
    opacity: 0; /* Set opacity to 0 to fade out */
  }

   a {
      color: inherit;
      text-decoration: none;
    }

    