@font-face {
    font-family: 'AlbertusNova900';
    src: url('AlbertusNovaBlack.eot');
    src: local('Albertus Nova Black'), local('AlbertusNovaBlack'),
        url('AlbertusNovaBlack.eot?#iefix') format('embedded-opentype'),
        url('AlbertusNovaBlack.woff2') format('woff2'),
        url('AlbertusNovaBlack.woff') format('woff'),
        url('AlbertusNovaBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AlbertusNova300';
    src: url('AlbertusNovaLight.eot');
    src: local('Albertus Nova Light'), local('AlbertusNovaLight'),
        url('AlbertusNovaLight.eot?#iefix') format('embedded-opentype'),
        url('AlbertusNovaLight.woff2') format('woff2'),
        url('AlbertusNovaLight.woff') format('woff'),
        url('AlbertusNovaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AlbertusNova100';
    src: url('AlbertusNovaThin.eot');
    src: local('Albertus Nova Thin'), local('AlbertusNovaThin'),
        url('AlbertusNovaThin.eot?#iefix') format('embedded-opentype'),
        url('AlbertusNovaThin.woff2') format('woff2'),
        url('AlbertusNovaThin.woff') format('woff'),
        url('AlbertusNovaThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AlbertusNovanormal';
    src: url('AlbertusNova.eot');
    src: local('Albertus Nova'), local('AlbertusNova'),
        url('AlbertusNova.eot?#iefix') format('embedded-opentype'),
        url('AlbertusNova.woff2') format('woff2'),
        url('AlbertusNova.woff') format('woff'),
        url('AlbertusNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlbertusNovabold';
    src: url('AlbertusNova-Bold.eot');
    src: local('Albertus Nova Bold'), local('AlbertusNova-Bold'),
        url('AlbertusNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('AlbertusNova-Bold.woff2') format('woff2'),
        url('AlbertusNova-Bold.woff') format('woff'),
        url('AlbertusNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



    * {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        font-family: 'AlbertusNovanormal';

    }


.navbar {
    color: black;
    font-weight: bold;
}

#i18nbutton{
    font-weight: bolder;
}

/* Specific selector for .nav-item inside .custom-navbar */
.navbar .nav-item {
    color: black;
    font-size: xx-large;
}

.navbar .navbar-nav .nav-link {
    color: black; /* Set the desired text color */
}

/* Hover effect for links (optional) */
.navbar .navbar-nav .nav-link:hover {
    color: #03d3a3; /* Set the desired hover color */
    cursor: pointer;
}

#navbarLogo{
    cursor: pointer;
}

#greetingDiv{
    background-color: #A6DDD0;
    color: black;
    width: 100%;

}

.img-container {
    position: relative;
}

.img-container-services .img-text {
    position: absolute;
    font-size: x-large;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}



.img-container {
    height: 100%;

}

.img-container img {
    height: 60%;
    width: auto;
}

.img-container-services{
    height: 100%;
}

.img-container-services img{
    height: 80%;
    width: 90%;
}

.img-containerSub{
    height: 100%;

}

.img-containerSub img{
    height: 100%;
    width: auto;
}

#servicesRow,#serviceTypes{
    width: 100%;
}

/* Add shadows and rounded edges to images */
.img-container-services img {
    border-radius: 10px; /* Rounded edges */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8); /* Shadow effect */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

/* Scale up the image on hover */
.img-container-services img:hover {
    transform: scale(1.1);
}


/* Style the member images in the team section */
.memberImg img {
    border-radius: 10%; /* Make images circular */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.memberImgSub img{
    border-radius: 10%; /* Make images circular */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}


#contact{
    background-color: rgb(166, 221, 208);
    
}

#innerContact{
    width: 60%;
}

#contactForm{
    background-color: white;
}

.form-group textarea, .form-group input{
    border: 1px solid #03d3a3 ;
}

.form-group label{
    color: #03d3a3;
}

.form-group input[type=submit]{
border: none;
    border-radius: 10%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, #03d3a3, #ff1b76);

}

#contactForm{
    border-radius: 5%;
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);


}



.serviceSubImg{
    border-radius: 10%; /* Make images circular */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

